/* CSS Document */

section{
	position:absolute;
  	top: 20%;
	left: 20%;
  	bottom: 20%; 
	right: 20%;
	border: 2px solid black;
	border-radius: 100px;
	padding-top: 5%;
	padding-left: 5%;
	background-image: url(../img/tlo_add.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 10px 10px #F2C8EE;
	-webkit-box-shadow: 0 0 10px 10px #F2C8EE;
	box-shadow: 0 0 10px 10px #F2C8EE;
	
}

section #formularz{
	opacity: 0.7;	
	
}

